@import "mixins";

.entry-admin {
	.row {
		margin: 15px -15px;
		display: block;
		overflow: hidden;

		.full {
			width: 100%;
			padding: 0px 15px;
			display: block;
			@include border-box;
			float: left;

			p {
				margin-bottom: 5px;

				strong {
					font-weight: bold;
				}
			}
		}

		.half {
			width: 50%;
			@include border-box;
			float: left;
			padding: 0px 15px;
			margin-bottom: 20px;
		}
	}

	label {
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 5px;
		display: block;
	}

	input[type="text"] {
		width: 100%;
		padding: 5px 15px;
	}

	h1 {
		margin-bottom: 15px;
		margin-top: 40px;
		display: block;
		border-bottom: 1px solid #000;
		margin-bottom: 20px;
		font-size: 20pt;
	}

	.download-pdf {
		float: right;
		clear: right;
	}
}