@import "mixins";

// colors
$red: #ef0506;
$yellow: #ffcc00;

div.tournament-form {

	.prior-transactions-box {
		padding: 15px;
		background: $red;

		p {
			color: #fff;
			font-size: 14pt;
			text-align: center;
			margin-bottom: 0px;

			&.footnote {
				font-size: 11pt;
			}
		}
	}

	.row {
		margin: 15px -15px;
		display: block;
		overflow: hidden;

		.full {
			width: 100%;
			padding: 0px 15px;
			@include border-box;

			p {
				margin-bottom: 5px;

				strong {
					font-weight: bold;
				}
			}
		}

		.half {
			width: 50%;
			@include border-box;
			float: left;
			padding: 0px 15px;
		}
	}

	h1 {
		border-bottom: 1px solid #000;
		font-size: 22pt;
		margin-bottom: 50px;
		color: $red;
		font-weight: 300;
		line-height: 18pt;
		text-transform: uppercase;
	}

	h2 {
		border-bottom: 1px solid #000;
		font-size: 18pt;
		margin-top: 50px;
		color: $yellow;
		font-weight: 300;
		line-height: 18pt;
	}

	h3 {
		font-size: 15pt;
		font-weight: 300;
		text-transform: initial;
		letter-spacing: 1px;
		color: #fff;
		line-height: 15pt;
		margin-bottom: 15px;

		span {
			font-weight: normal;
		}
	}

	p, label {
		color: #fff;
	}

	label {
		display: inline-block;

		span {
			font-size: 9pt;
			font-style: italic;
			display: block;
		}

		span.prior-year {
			font-size: inherit;
			font-style: inherit;
			display: inline;
		}
	}

	input[type="text"] {
		width: 100%;
		display: block;
		background: #fff;
		border: 1px solid #ccc;
		padding: 5px 10px;
		border-radius: 5px;
		@include border-box;
	}

	input.error, select.error {
		border: 1px solid red;
	}

	select {
		width: 100%;
		display: block;
		@include border-box;
		padding: 5px 10px;
		border-radius: 0px;
		font-size: 13pt;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	section {
		display: none;
	}

	section.first {
		display: block;
	}

	a.next, a.prev {
		display: block;
		padding: 5px 15px;
		background: $red;
		color: #fff;
		text-transform: uppercase;
		border-radius: 5px;
		border: 1px solid $red;
		@include transition(background 0.2s, color 0.2s);
		text-align: center;

		&:hover {
			text-decoration: none;
			color: $red;
			background: #000;
		}
	}
	
	a.btn {
		display: block;
		padding: 5px 15px;
		background: $red;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
		border-radius: 5px;
		border: 1px solid $red;
		@include transition(background 0.2s, color 0.2s);

		&:hover {
			text-decoration: none;
			color: $red;
			background: #000;
		}
	}

	p.fees {
		font-size: 14pt;
		display: block;
		position: relative;

		span {
			position: absolute;
			top: 0px;
			right: 0px;
		}
	}

	.form-errors {
		color: #fff;
	}

	section.bowlers {
		.bowler {
			padding: 10px;
			background: #333;
			margin-bottom: 25px;
			border-radius: 5px;

			h3 {
				font-weight: 300;
				text-transform: uppercase;
			}
		}
	}

	section#doubles {
		.doubles-team {
			padding: 10px;
			background: #333;
			margin-bottom: 25px;
			border-radius: 5px;

			.row {

				&:first-of-type {
					margin-top: 0px;
				}

				&:last-of-type {
					margin-bottom: 0px;
				}
			}
		}
	}

	.gray-back {
		padding: 10px;
		background: #333;
		margin-bottom: 25px;
		border-radius: 5px;

		.row {

			&:first-of-type {
				margin-top: 0px;
			}

			&:last-of-type {
				margin-bottom: 0px;
			}
		}
	}

	span.checkbox {
		color: #fff;
	}

	.extra-field {
		display: none;
	}

	.center {
		text-align: center;
	}

	.mb-30 {
		margin-bottom: 30px;
	}

	.mb-50 {
		margin-bottom: 30px;
	}

	#additional-bowlers-btn {
		background: #ffcc00;
		color: #000;
		border-color: #ffcc00;

		&:hover {
			background: #000;
			color: #ffcc00;
		}
	}

}

.cb {
	clear: both;
	overflow: auto;

	.fl {
		float: left;
	}

	.fr {
		float: right;
	}
}

.black-page {
	background: #000;
}