@include "mixins";

.form-admin {
	
	.row {
		margin: 0px -15px;

		.half {
			width: 50%;
			float: left;
			@include border-box;
		}
	}

	input[type="text"] {
		width: 100%;
		display: block;
	}
	
}