.entry-admin .row {
  margin: 15px -15px;
  display: block;
  overflow: hidden;
}

.entry-admin .row .full {
  width: 100%;
  padding: 0px 15px;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}

.entry-admin .row .full p {
  margin-bottom: 5px;
}

.entry-admin .row .full p strong {
  font-weight: bold;
}

.entry-admin .row .half {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0px 15px;
  margin-bottom: 20px;
}

.entry-admin label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.entry-admin input[type="text"] {
  width: 100%;
  padding: 5px 15px;
}

.entry-admin h1 {
  margin-bottom: 15px;
  margin-top: 40px;
  display: block;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
  font-size: 20pt;
}

.entry-admin .download-pdf {
  float: right;
  clear: right;
}
