div.tournament-form .prior-transactions-box {
  padding: 15px;
  background: #ef0506; }
  div.tournament-form .prior-transactions-box p {
    color: #fff;
    font-size: 14pt;
    text-align: center;
    margin-bottom: 0px; }
    div.tournament-form .prior-transactions-box p.footnote {
      font-size: 11pt; }

div.tournament-form .row {
  margin: 15px -15px;
  display: block;
  overflow: hidden; }
  div.tournament-form .row .full {
    width: 100%;
    padding: 0px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    div.tournament-form .row .full p {
      margin-bottom: 5px; }
      div.tournament-form .row .full p strong {
        font-weight: bold; }
  div.tournament-form .row .half {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 0px 15px; }

div.tournament-form h1 {
  border-bottom: 1px solid #000;
  font-size: 22pt;
  margin-bottom: 50px;
  color: #ef0506;
  font-weight: 300;
  line-height: 18pt;
  text-transform: uppercase; }

div.tournament-form h2 {
  border-bottom: 1px solid #000;
  font-size: 18pt;
  margin-top: 50px;
  color: #333;
  font-weight: 300;
  line-height: 18pt; }

div.tournament-form h3 {
  font-size: 15pt;
  font-weight: 300;
  text-transform: initial;
  letter-spacing: 1px;
  color: #fff;
  line-height: 15pt;
  margin-bottom: 15px; }
  div.tournament-form h3 span {
    font-weight: normal; }

div.tournament-form p, div.tournament-form td, div.tournament-form li {
  color: #333;
  font-size: 11pt !important; }

div.tournament-form label {
  color: #fff;
  display: inline-block;
  font-size: 11pt; }
  div.tournament-form label span {
    font-size: 11pt !important;
    font-style: italic;
    display: block; }
  div.tournament-form label span.prior-year {
    font-size: inherit;
    font-style: inherit;
    display: inline; }

div.tournament-form input[type="text"] {
  width: 100%;
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div.tournament-form input.error, div.tournament-form select.error {
  border: 1px solid red; }

div.tournament-form select {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 0px;
  font-size: 13pt;
  border: 1px solid #ccc;
  border-radius: 5px; }

div.tournament-form section {
  display: none; }

div.tournament-form section.first {
  display: block; }

div.tournament-form a.next, div.tournament-form a.prev {
  display: block;
  padding: 5px 15px;
  background: #ef0506;
  color: #333;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #ef0506;
  -moz-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
  text-align: center; }
  div.tournament-form a.next:hover, div.tournament-form a.prev:hover {
    text-decoration: none;
    color: #ef0506;
    background: #000; }

div.tournament-form a.btn {
  display: block;
  padding: 5px 15px;
  background: #ef0506;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ef0506;
  -moz-transition: background 0.2s, color 0.2s;
  -o-transition: background 0.2s, color 0.2s;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s; }
  div.tournament-form a.btn:hover {
    text-decoration: none;
    color: #ef0506;
    background: #000; }

div.tournament-form p.fees {
  font-size: 14pt;
  display: block;
  position: relative; }
  div.tournament-form p.fees span {
    position: absolute;
    top: 0px;
    right: 0px; }

div.tournament-form .form-errors {
  color: #333; }

div.tournament-form section.bowlers .bowler {
  padding: 10px;
  background: #333;
  margin-bottom: 25px;
  border-radius: 5px; }
  div.tournament-form section.bowlers .bowler h3 {
    font-weight: 300;
    text-transform: uppercase; }

div.tournament-form section#doubles .doubles-team {
  padding: 10px;
  background: #333;
  margin-bottom: 25px;
  border-radius: 5px; }
  div.tournament-form section#doubles .doubles-team span.checkbox {
    color: #fff; }
  div.tournament-form section#doubles .doubles-team .row:first-of-type {
    margin-top: 0px; }
  div.tournament-form section#doubles .doubles-team .row:last-of-type {
    margin-bottom: 0px; }

div.tournament-form .gray-back {
  padding: 10px;
  background: #333;
  margin-bottom: 25px;
  border-radius: 5px; }
  div.tournament-form .gray-back p, div.tournament-form .gray-back h3 {
    color: #fff; }
  div.tournament-form .gray-back span.checkbox {
    color: #fff; }
  div.tournament-form .gray-back .row:first-of-type {
    margin-top: 0px; }
  div.tournament-form .gray-back .row:last-of-type {
    margin-bottom: 0px; }

div.tournament-form .extra-field {
  display: none; }

div.tournament-form .center {
  text-align: center; }

div.tournament-form .mb-30 {
  margin-bottom: 30px; }

div.tournament-form .mb-50 {
  margin-bottom: 30px; }

div.tournament-form #additional-bowlers-btn {
  background: #ffcc00;
  color: #000;
  border-color: #ffcc00; }
  div.tournament-form #additional-bowlers-btn:hover {
    background: #000;
    color: #ffcc00; }

.cb {
  clear: both;
  overflow: auto; }
  .cb .fl {
    float: left; }
  .cb .fr {
    float: right; }

.black-page {
  background: #000; }
